<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app_Name</key>
	<string>越狱包爱思</string>
	<key>app_key</key>
	<string>301602fdf1af8504298930e819ba6bfd</string>
	<key>client_key</key>
	<string>301602fdf1af8504298930e819ba6bfd</string>
	<key>app_id</key>
	<string>12834</string>
	<key>channel_id</key>
	<string>1103</string>
	<key>game_id</key>
	<string>13565</string>
</dict>
</plist>
