<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app_Name</key>
	<string>小七Demo</string>
	<key>app_key</key>
	<string>15952c912328253f7c30bc48fa78451e</string>
	<key>client_key</key>
	<string>15952c912328253f7c30bc48fa78451e</string>
	<key>app_id</key>
	<string>121622</string>
	<key>channel_id</key>
	<string>130</string>
	<key>game_id</key>
	<string>com.gjxy.x7sy</string>
	<key>PUBLIC_KEY</key>
	<string>MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDkRoZ4AwotIPCpd5VYnM9CJr6pNM/8YXawT+vnnTY3f0hV1ii3hLVuQ7AAI1jcfHFCL2/BFGgeF59j2oVbUPrcHdOHBOoIQck/CwF3oa2kf7quIj7+bRknttP0rxtR0aBy6rwNYON9P5y9WeMTMydPHpbrQd16R0qs4TebC0DD6QIDAQAB</string>
</dict>
</plist>
