<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app_Name</key>
	<string>越狱包爱思</string>
	<key>app_key</key>
	<string>f2ad7053436543ce8ab8ad68d959cebb</string>
	<key>client_key</key>
	<string>f2ad7053436543ce8ab8ad68d959cebb</string>
	<key>app_id</key>
	<string>3713</string>
	<key>channel_id</key>
	<string>131</string>
	<key>game_id</key>
	<string>com.hnqy.ltzj.i4</string>
</dict>
</plist>
