<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App_Name</key>
	<string>仙魔战场</string>
	<key>App_id</key>
	<string>1065</string>
	<key>App_Channelld</key>
	<string>137</string>
</dict>
</plist>
