<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>game_id</key>
	<string>1</string>
	<key>productKey</key>
	<string>14601064</string>
	<key>productCode</key>
	<string>30609736276812032111435555602076</string>
</dict>
</plist>
